
@{
	Layout = null;
}
@* Contact Index Sayfası *@
<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeadPartial")

<body>
	<div class="container-xxl bg-white p-0">

		@await Component.InvokeAsync("_SpinnerPartial")

		@await Component.InvokeAsync("_NavbarPartial")

		@await Component.InvokeAsync("_ContactCoverPartial")

		@await Html.PartialAsync("/Views/Contact/SendMessage.cshtml")

		@await Html.PartialAsync("/Views/Default/_SubscribePartial.cshtml")

		@await Component.InvokeAsync("_FooterPartial")
		<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
	</div>
	@await Component.InvokeAsync("_ScriptsPartial")
	@if (TempData["Success"] != null)
	{
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			@TempData["Success"]
			<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		</div>
	}

	@if (TempData["Error"] != null)
	{
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			@TempData["Error"]
			<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		</div>
	}


</body>
</html>